

.flex-container-row	{
	display: inline;
	flex-direction: row;
	align-items: center;

}
.sameline {

margin-bottom: -15px;
}


body {
	font-family: 'roboto'; 
	padding: 4rem;
	text-align: center;
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.round {
    display: flex;
    border-radius: 50%;
    width: 50%;
	min-width: 260px;
}



.name {
	font-size: 3rem;
	margin: 0.5rem 0;
}

.content-container {
	width: 100%;
	max-width: 600px;
}

.divider {
	display: block;
	border-bottom: 0.5px solid black;
}
a {
	color: black;
	text-decoration-line: none;
	
}

.divider {
	display: block;
	border-bottom: 0.5px solid black;
}
